[SddmGreeterTheme]
Name=Vista SMOD
Description=Windows Vista-like theme for SDDM
Author=Souris, WackyIdeas, catpswin56
Type=sddm-theme
Version=1.0
Website=https://gitgud.io/catpswin56/vistathemeplasma/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=sddm-theme-mod
Theme-API=2.0
QtVersion=6
