[SddmGreeterTheme]
Name=Vista SMOD
Description=Windows Vista-like theme for SDDM
Author=catpswin56
Type=sddm-theme
Theme-Id=sddm-theme-mod
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
Screenshot=preview.png
