misc/defaulttooltip/build
misc/plymouth/plymouth-theme-smod/build
kwin/decoration/breeze-v5.93.0/build
kwin/effects_cpp/kwin-effect-smodsnap-v2/build-kf6
kwin/effects_cpp/kde-effects-aeroglassblur/build
plasma/plasmoids/src/sevenstart_src/build
plasma/plasmoids/src/seventasks_src/build
kwin/effects_cpp/smodglow/build-kf6
"extras/Win7 M2/src/m2tasks_src/build"
