[Unit]
Description=Update Plymouth Theme State

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/share/plymouth/themes/PlymouthVista/plymouth_state_updater.sh desktop
ExecStop=/usr/share/plymouth/themes/PlymouthVista/plymouth_state_updater.sh sddm --no-shutdown
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target