[Unit]
Description=SMOD SDDM theme.conf writer (before SDDM)
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/kwriteconfig6 --file /usr/share/sddm/themes/sddm-theme-mod/theme.conf --group General --type bool --key startup true

[Install]
WantedBy=multi-user.target
