[Unit]
Description=SMOD SDDM theme.conf writer (after SDDM)
After=display-manager.service

# use systemd-analyze plot > services.svg to see
# when this service starts
# a few seconds delay is needed

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/kwriteconfig6 --file /usr/share/sddm/themes/sddm-theme-mod/theme.conf --group General --type bool --key startup false

[Install]
WantedBy=display-manager.service
