[Unit]
Description=Update Plymouth Theme State
DefaultDependencies=no
Before=plymouth-start.service

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/usr/share/plymouth/themes/PlymouthVista/plymouth_state_updater.sh sddm
RemainAfterExit=no

[Install]
WantedBy=plymouth-start.service